#home {
  position: relative;
  background: url("../../assets/bgIMG.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;

  .app__wrapper {
    padding: 0;

    .copywright {
      display: none;
    }
  }
}

.app__header {
  flex: 1;
  width: 100%;
  height: 100%;
  flex-direction: row;
  padding: 6rem 2rem;

  @media screen and(min-width: 2000px) {
    padding-top: 9rem;
  }
  @media screen and(max-width: 1200px) {
    flex-direction: column;
  }
  @media screen and(max-width: 450px) {
    padding: 6rem 1rem 2rem;
  }
}

.app__header-info {
  flex: 0.65;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;

  @media screen and (max-width: 2000px) {
    width: 100%;
    margin-right: 0rem;
  }
}

.app__header-badge {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  .badge-cmp,
  .tag-cmp {
    padding: 1rem 2rem;
    border: var(--white-color);
    border-radius: 15px;
    flex-direction: row;
    width: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    &:hover {
      background-color: var(--lightGray-color);
      animation: scaleElement 2s infinite ease-in-out;
    }
  }

  .tag-cmp {
    flex-direction: column;
    margin-top: 3rem;
    p {
      width: 100%;
      text-transform: uppercase;
      text-align: right;
    }
  }

  span {
    font-size: 3rem;
    @media screen and (min-width: 2000px) {
      font-size: 5rem;
    }
  }

  @media screen and (max-width: 1200px) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.app__header-circles {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  margin-left: 1rem;

  div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--white-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    
    &:hover {
      background-color: var(--lightGray-color);
    }
  }

  img {
    width: 60%;
    height: 60%;
  }

  div:nth-child(1) {
    width: 100px;
    height: 100px;
    animation: spinElement 20s infinite linear; 
  }

  div:nth-child(2) {
    margin: 1.75rem;
    width: 150px;
    height: 150px;
    animation: scaleElement 2s infinite ease-in-out;
  }

  div:nth-child(3) {
    width: 70px;
    height: 70px;
    animation: scaleElement2 7s infinite ease-in-out;
    @media screen and (min-width:2000px) {
        animation: none
    }
  }

  div:nth-child(4) {
    margin: 1rem 0 0 5rem;
    width: 120px;
    height: 120px;
    img {
      border-radius: 50%;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.212);
      animation: scaleElement2 7s infinite ease-in-out,
        spinElement 5s infinite ease-in-out;
    }
  }

  @media screen and (min-width: 2000px) {
    div:nth-child(1) {
      width: 250px;
      height: 250px;
    }

    div:nth-child(2) {
      width: 350px;
      height: 350px;
    }

    div:nth-child(3) {
      width: 200px;
      height: 200px;
    }

    div:nth-child(4) {
      margin: 1rem 0 0 5rem;
      width: 240px;
      height: 240px;
    }
  }

  @media screen and (max-width: 1200px) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    div {
      margin: 1rem;
    }
    div:nth-child(4) {
      margin: 1rem 0 0 2rem;
      width: 120px;
      height: 120px;
    }
  }
}

.app__header-img {
  flex: 1;
  height: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;

  img {
    width: 100%;
    object-fit: contain;
    z-index: 1;
  }

  .overlay_circle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 90%;
  }
  @media screen and (max-width: 1200px) {
    margin: 2rem 0;
  }
}

@keyframes spinElement {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes scaleElement {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(102%);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes scaleElement2 {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(166%);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes borderRotate {
  0% {
    transform: rotate(0deg) translate(-165px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-165px) rotate(-360deg);
  }
}
